{% extends "casino/base.html" %}

{% block title %}LastDep | SUPPORT{% endblock %}
{% block page_title %}Поддержка{% endblock %}

{% block content %}
<section class="page-section">
    <h2>Наша служба поддержки работает 24/7 и готова помочь с любым вопросом: от регистрации до выплат. Обращайтесь — мы решим любую проблему быстро и вежливо!</h2>
    <p>Как зарегистрироваться?</p>
    <p>Как верифицировать аккаунт?</p>
    <p>Какие методы депозита/вывода доступны?</p>
    <p>Сколько времени занимает вывод средств?</p>
    <p>Как получить бонус?</p>
    <p>Вот и мы не знаем!</p>

</section>
{% endblock %}